*{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;  
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
nav{
    background-color:rgb(234, 99, 42);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    
}
a{
    text-decoration: unset;
}
nav img{
        width: 130px;
}
.nav-container{
                display: flex;
                justify-content: space-between;
                width: 1200px;
                color: white;
                font-size: 15px;
                align-items: center;
                padding: 10px;
}
.login{
        font-size: larger;
}
main{
    display: flex;
    justify-content: center;
}                
.cards-container{
                width: 1400px;
                display: flex;
                flex-wrap:wrap;
                justify-content: center;
                margin-top: 50px;
                position: relative;
                
}
.cards{
        width: 400px;
        align-self: center;
        position: relative;
        padding: 10px;
}
.cards img{
            width: 400px;
            
}
.img-showed:hover {
                    opacity: 0;
                    
}
.input-img{
            position: absolute;
            left: 10px;
            opacity: 0;
}
.input-img:hover{
                    opacity: 1;

}

.heart{
        background-color: white;
        position: absolute;
        top: 40px;
        right: 10px;
        width: 30px;
        text-align: center;
        font-size: larger;
}
.heart a:hover{
            color: rgb(234, 99, 42);
            
}
.discount{
        background-color: red;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 100px;
        font-size: smaller;
        width: 40px;
        padding:2px;
}
.ecofriendly{
        background-color: green;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 100px;
        left: 60px;
        font-size: smaller;
        width: 120px;
        padding:2px;
}
.ecofriendly2{
                background-color: green;
                color: white;
                text-align: center;
                position: absolute;
                bottom: 100px;
                left: 3px;
                font-size: smaller;
                width: 120px;
                padding:2px;
}
.price{
        text-decoration: line-through;
        display: inline;
}
#price-red{
            text-decoration: none;
            color: red;
}
footer{
        background-color: rgb(48, 47, 47);
        display: flex;
        justify-content: center;
}
.footer-container{
                    width: 1200px;
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    font-size: 15px;
                    vertical-align: middle;
                    padding: 10px;
                    padding-left: 0px;
}
.privacy{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 3px;
}
.privacy-links div{
                    display: inline;
                    font-size: 10px;

}


      
